<a href="https://colab.research.google.com/github/zxc00795/2020AI/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.060827  2.209993  0.087192 -1.063636
1  0.706559  0.599453 -0.889187  1.752043
2  0.960386  1.044937  0.636449 -0.281578
3  0.027444  0.633667 -2.344546  0.392436
4  0.538546  0.921732  2.783854 -0.429609
5  0.263516 -1.328912  0.228750  0.969150

In [4]:
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01  0.991382 -1.100336  0.615493  0.446448
2020-01-02  1.776948 -2.069892  1.901125  0.415806
2020-01-03  1.103849 -0.120085 -0.667509 -1.937122
2020-01-04  0.609750  0.351423 -0.629471  1.465067
2020-01-05 -0.165876  2.553586  0.247071  1.172604
2020-01-06  0.588342  0.191831  1.037389 -0.181876

In [6]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo